# Example Notebook

Jupyter notebooks are a great tool for data analysis and prototyping. Each engineer will have their own folder under `notebooks/{username}/` to store Jupyter notebooks.

This notebook shows some examples.

Every notebook will start with this code cell. It moves up two directories from where the notebook is, so that we can execute code from the root directory, `transithealth/`. This allows us to import code from across project as well as read/write files using paths relative to the root directory.

In [1]:
import os
os.chdir("../../")

## Importing Code and Accessing Files

Now we can import code from the backend API and run it!

In [2]:
from api.metrics.rideshare import RideshareMetrics
from api.utils.testing import create_test_db

We can also refer to scripts from the offline pipeline using their relative paths from the root.

In [3]:
con, cur = create_test_db(
    scripts=[
        "./pipeline/load/rideshare.sql"
    ],
    tables={
        "rideshare": [
            { "n_trips": 7 },
            { "n_trips": 14 },
            { "n_trips": 3 }
        ]
    }
)

metric = RideshareMetrics(con)
actual = metric.get_max_trips()

expected = { "max_trips": 14 }

assert actual == expected

print(f"Actual:   {actual}")
print(f"Expected: {expected}")

None
Actual:   {'max_trips': 14}
Expected: {'max_trips': 14}

## Writing SQL

There are two ways to write SQL in a Jupyter notebooks:

1. With the `sqlite3` module built into Python.
2. With the SQL extension for Jupyter notebooks.

Here is an example using Python. The default fetched response does not include the columns, so we have a method in `api.utils.database` to help. We can also use Pandas to load the result into a DataFrame.

In [4]:
import sqlite3

con = sqlite3.connect("./pipeline/database.db")
cur = con.cursor()

rows = cur.execute("""
SELECT *
FROM traffic_intensity
Where period IN (2016, 2017, 2018, 2019, 2020)

""").fetchall()

rows

[(35, 'all', 1409.5759192199896, None, 2020),
 (36, 'all', 2187.42000708787, None, 2020),
 (37, 'all', 12519.203851864098, None, 2020),
 (38, 'all', 619.207858606121, None, 2020),
 (39, 'all', 1493.64931934343, None, 2020),
 (4, 'all', 381.292721818742, None, 2020),
 (40, 'all', 811.282765402462, None, 2020),
 (41, 'all', 888.4804790248842, None, 2020),
 (42, 'all', 411.452469386972, None, 2020),
 (1, 'all', 444.675036896848, None, 2020),
 (11, 'all', 1905.7654520675696, None, 2020),
 (12, 'all', 1927.4555074795496, None, 2020),
 (13, 'all', 473.696753060702, None, 2020),
 (14, 'all', 476.536509929277, None, 2020),
 (15, 'all', 794.261271652258, None, 2020),
 (16, 'all', 4838.59722182382, None, 2020),
 (17, 'all', 554.9821530572441, None, 2020),
 (18, 'all', 252.313765695363, None, 2020),
 (19, 'all', 273.395860080378, None, 2020),
 (2, 'all', 611.37515081414, None, 2020),
 (20, 'all', 159.97931862329202, None, 2020),
 (21, 'all', 6318.37093815389, None, 2020),
 (22, 'all', 4466.25251918772, None, 2020),
 (23, 'all', 287.105143927246, None, 2020),
 (24, 'all', 4905.05093077126, None, 2020),
 (25, 'all', 1297.48321916627, None, 2020),
 (26, 'all', 3430.46957868057, None, 2020),
 (27, 'all', 3312.3450740869507, None, 2020),
 (28, 'all', 5436.02847741801, None, 2020),
 (29, 'all', 480.30414173804803, None, 2020),
 (3, 'all', 1910.6755437420104, None, 2020),
 (30, 'all', 182.846599898898, None, 2020),
 (31, 'all', 1295.70599167447, None, 2020),
 (33, 'all', 3442.230288635071, None, 2020),
 (34, 'all', 10021.2082074557, None, 2020),
 (10, 'all', 1500.05852084215, None, 2020),
 (8, 'all', 3484.89213368664, None, 2020),
 (32, 'all', 5180.953620726071, None, 2020),
 (43, 'all', 382.841511406759, None, 2020),
 (44, 'all', 2211.87752204891, None, 2020),
 (45, 'all', 897.7260717180409, None, 2020),
 (46, 'all', 205.587072468117, None, 2020),
 (47, 'all', 75.18304498080191, None, 2020),
 (48, 'all', 679.212567680845, None, 2020),
 (49, 'all', 1630.2478329654598, None, 2020),
 (5, 'all', 819.683043033164, None, 2020),
 (50, 'all', 1550.74504211102, None, 2020),
 (51, 'all', 429.793272709646, None, 2020),
 (52, 'all', 805.224253186012, None, 2020),
 (53, 'all', 578.5092788921402, None, 2020),
 (54, 'all', 446.31749418264604, None, 2020),
 (55, 'all', 183.25614192985, None, 2020),
 (56, 'all', 1275.35977693405, None, 2020),
 (57, 'all', 1178.52097707778, None, 2020),
 (58, 'all', 1058.90246224301, None, 2020),
 (59, 'all', 1501.47709007692, None, 2020),
 (6, 'all', 1686.30235981866, None, 2020),
 (60, 'all', 2727.56579265197, None, 2020),
 (61, 'all', 346.344059285174, None, 2020),
 (62, 'all', 931.846705535395, None, 2020),
 (63, 'all', 418.903461822268, None, 2020),
 (64, 'all', 502.713692096959, None, 2020),
 (65, 'all', 498.34434948622703, None, 2020),
 (66, 'all', 380.663744843685, None, 2020),
 (67, 'all', 236.64001143692403, None, 2020),
 (68, 'all', 2687.41529283582, None, 2020),
 (69, 'all', 2200.8017370090397, None, 2020),
 (7, 'all', 471.205277586424, None, 2020),
 (70, 'all', 839.018104813504, None, 2020),
 (71, 'all', 508.141244024887, None, 2020),
 (72, 'all', 563.078175932226, None, 2020),
 (73, 'all', 1817.0851651901198, None, 2020),
 (74, 'all', 194.094008557774, None, 2020),
 (75, 'all', 1012.9815169030701, None, 2020),
 (76, 'all', 1373.89301409226, None, 2020),
 (77, 'all', 1456.2721856677, None, 2020),
 (9, 'all', 689.370902548915, None, 2020),
 (35, 'all', 1398.60494079057, None, 2019),
 (36, 'all', 2142.78511398308, None, 2019),
 (37, 'all', 12426.8691625235, None, 2019),
 (38, 'all', 620.588704746431, None, 2019),
 (39, 'all', 1505.5606730369, None, 2019),
 (4, 'all', 379.0705581523809, None, 2019),
 (40, 'all', 822.94069424682, None, 2019),
 (41, 'all', 906.413211833639, None, 2019),
 (42, 'all', 411.436720903471, None, 2019),
 (1, 'all', 432.612003510251, None, 2019),
 (11, 'all', 1917.2474652024805, None, 2019),
 (12, 'all', 1919.74265744983, None, 2019),
 (13, 'all', 463.655017690316, None, 2019),
 (14, 'all', 462.6670081767511, None, 2019),
 (15, 'all', 823.357615610653, None, 2019),
 (16, 'all', 4953.22237401491, None, 2019),
 (17, 'all', 560.554475830499, None, 2019),
 (18, 'all', 228.014016731594, None, 2019),
 (19, 'all', 269.464224817446, None, 2019),
 (2, 'all', 608.424038101868, None, 2019),
 (20, 'all', 160.40433500662, None, 2019),
 (21, 'all', 6409.76274997881, None, 2019),
 (22, 'all', 4490.827803777121, None, 2019),
 (23, 'all', 287.120275328499, None, 2019),
 (24, 'all', 4766.061429601479, None, 2019),
 (25, 'all', 1278.8518457992, None, 2019),
 (26, 'all', 3420.40812429659, None, 2019),
 (27, 'all', 3331.9746237001, None, 2019),
 (28, 'all', 5401.12963058891, None, 2019),
 (29, 'all', 480.329280524239, None, 2019),
 (3, 'all', 1913.85468889212, None, 2019),
 (30, 'all', 182.94848555511, None, 2019),
 (31, 'all', 1322.8071871678, None, 2019),
 (33, 'all', 3410.875214367561, None, 2019),
 (34, 'all', 10134.759564254, None, 2019),
 (10, 'all', 1485.72089971871, None, 2019),
 (8, 'all', 3475.89251630357, None, 2019),
 (32, 'all', 5205.83281703795, None, 2019),
 (43, 'all', 395.28398566786, None, 2019),
 (44, 'all', 2281.65291535121, None, 2019),
 (45, 'all', 875.2006373362808, None, 2019),
 (46, 'all', 204.756508777724, None, 2019),
 (47, 'all', 75.16305522216709, None, 2019),
 (48, 'all', 680.400618720231, None, 2019),
 (49, 'all', 1658.01419175584, None, 2019),
 (5, 'all', 821.464548148252, None, 2019),
 (50, 'all', 1638.76920781564, None, 2019),
 (51, 'all', 426.208117278641, None, 2019),
 (52, 'all', 811.631484879223, None, 2019),
 (53, 'all', 581.90755160501, None, 2019),
 (54, 'all', 455.744611159319, None, 2019),
 (55, 'all', 193.44071924461895, None, 2019),
 (56, 'all', 1273.38842434384, None, 2019),
 (57, 'all', 1180.7538789370599, None, 2019),
 (58, 'all', 1074.16155463766, None, 2019),
 (59, 'all', 1470.38250435576, None, 2019),
 (6, 'all', 1687.6455583293396, None, 2019),
 (60, 'all', 2703.09028816108, None, 2019),
 (61, 'all', 344.052457972975, None, 2019),
 (62, 'all', 938.2427941431239, None, 2019),
 (63, 'all', 416.460056689098, None, 2019),
 (64, 'all', 502.67003175828796, None, 2019),
 (65, 'all', 510.55047208793604, None, 2019),
 (66, 'all', 373.87587072623495, None, 2019),
 (67, 'all', 233.700779443566, None, 2019),
 (68, 'all', 2743.59203845337, None, 2019),
 (69, 'all', 2149.10991276944, None, 2019),
 (7, 'all', 476.7785351527221, None, 2019),
 (70, 'all', 832.220110452066, None, 2019),
 (71, 'all', 507.3548632129071, None, 2019),
 (72, 'all', 577.6234336206211, None, 2019),
 (73, 'all', 1881.81326142974, None, 2019),
 (74, 'all', 185.51855666978, None, 2019),
 (75, 'all', 996.109688469252, None, 2019),
 (76, 'all', 1385.59423802664, None, 2019),
 (77, 'all', 1452.66472618328, None, 2019),
 (9, 'all', 719.3540985703099, None, 2019),
 (35, 'all', 1040.6945507609, None, 2018),
 (36, 'all', 1578.4285690406698, None, 2018),
 (37, 'all', 9826.2708957454, None, 2018),
 (38, 'all', 422.704496559186, None, 2018),
 (39, 'all', 885.167423395908, None, 2018),
 (4, 'all', 198.91559595827, None, 2018),
 (40, 'all', 568.480819626979, None, 2018),
 (41, 'all', 674.618671603352, None, 2018),
 (42, 'all', 271.74780922466203, None, 2018),
 (1, 'all', 15.752648586126304, None, 2018),
 (11, 'all', 1482.84723774627, None, 2018),
 (12, 'all', 1873.14531285702, None, 2018),
 (13, 'all', 263.740877884471, None, 2018),
 (14, 'all', 169.56008996406, None, 2018),
 (15, 'all', 714.9292231314771, None, 2018),
 (16, 'all', 4089.05657836404, None, 2018),
 (17, 'all', 576.930491252176, None, 2018),
 (18, 'all', 224.52469992282502, None, 2018),
 (19, 'all', 214.54727468069402, None, 2018),
 (2, 'all', 388.62784827070396, None, 2018),
 (20, 'all', 47.5737853694528, None, 2018),
 (21, 'all', 5467.33767576024, None, 2018),
 (22, 'all', 3786.74590105948, None, 2018),
 (23, 'all', 232.56923008236402, None, 2018),
 (24, 'all', 4187.61514256341, None, 2018),
 (25, 'all', 1173.36844580866, None, 2018),
 (26, 'all', 2612.67049932, None, 2018),
 (27, 'all', 3009.8429677304803, None, 2018),
 (28, 'all', 4646.61611448414, None, 2018),
 (29, 'all', 326.120863260176, None, 2018),
 (3, 'all', 1430.28293762899, None, 2018),
 (30, 'all', 69.1265331785674, None, 2018),
 (31, 'all', 1084.71583564073, None, 2018),
 (33, 'all', 2871.55263795527, None, 2018),
 (34, 'all', 8005.295692912059, None, 2018),
 (10, 'all', 1146.2365521050301, None, 2018),
 (8, 'all', 2820.4838441119396, None, 2018),
 (32, 'all', 4370.1197220197, None, 2018),
 (43, 'all', 292.984875461227, None, 2018),
 (44, 'all', 1787.30961761731, None, 2018),
 (45, 'all', 1083.9208857476199, None, 2018),
 (46, 'all', 181.082335043905, None, 2018),
 (47, 'all', 89.1527747824609, None, 2018),
 (48, 'all', 814.017253107338, None, 2018),
 (49, 'all', 1543.4781023802802, None, 2018),
 (5, 'all', 733.6707983273959, None, 2018),
 (50, 'all', 1263.35900094596, None, 2018),
 (51, 'all', 294.913586362986, None, 2018),
 (52, 'all', 789.160834359718, None, 2018),
 (53, 'all', 455.87170839901603, None, 2018),
 (54, 'all', 405.123448863779, None, 2018),
 (55, 'all', 111.015332553323, None, 2018),
 (56, 'all', 1090.39366460056, None, 2018),
 (57, 'all', 1059.26471209386, None, 2018),
 (58, 'all', 808.356897440632, None, 2018),
 (59, 'all', 1124.15904066982, None, 2018),
 (6, 'all', 1280.1015919613699, None, 2018),
 (60, 'all', 2581.05598052901, None, 2018),
 (61, 'all', 129.656088905906, None, 2018),
 (62, 'all', 884.820711114698, None, 2018),
 (63, 'all', 378.12854061671, None, 2018),
 (64, 'all', 408.81421393684997, None, 2018),
 (65, 'all', 424.348154069033, None, 2018),
 (66, 'all', 226.4554766073, None, 2018),
 (67, 'all', 95.6339174857172, None, 2018),
 (68, 'all', 2361.0539512972896, None, 2018),
 (69, 'all', 2018.62477501261, None, 2018),
 (7, 'all', 251.166533629859, None, 2018),
 (70, 'all', 437.18946214905196, None, 2018),
 (71, 'all', 297.223068903256, None, 2018),
 (72, 'all', 492.810574932517, None, 2018),
 (73, 'all', 1437.72722817004, None, 2018),
 (74, 'all', 17.5600464044728, None, 2018),
 (75, 'all', 768.797587286071, None, 2018),
 (76, 'all', 1158.99412709406, None, 2018),
 (77, 'all', 971.054758633239, None, 2018),
 (9, 'all', 627.628715112416, None, 2018),
 (35, 'all', 1040.46618006732, None, 2017),
 (36, 'all', 1539.1532070406604, None, 2017),
 (37, 'all', 9600.161766609192, None, 2017),
 (38, 'all', 424.782597173923, None, 2017),
 (39, 'all', 876.779589861105, None, 2017),
 (4, 'all', 198.30605481490602, None, 2017),
 (40, 'all', 562.591137019466, None, 2017),
 (41, 'all', 690.728721943622, None, 2017),
 (42, 'all', 262.29364407819, None, 2017),
 (1, 'all', 15.7117885171004, None, 2017),
 (11, 'all', 1471.21365752395, None, 2017),
 (12, 'all', 1837.72475979824, None, 2017),
 (13, 'all', 249.791549517116, None, 2017),
 (14, 'all', 154.481389071998, None, 2017),
 (15, 'all', 684.166568562507, None, 2017),
 (16, 'all', 4181.1059445206, None, 2017),
 (17, 'all', 569.034922050833, None, 2017),
 (18, 'all', 229.776952387839, None, 2017),
 (19, 'all', 210.688648059356, None, 2017),
 (2, 'all', 393.43159275106797, None, 2017),
 (20, 'all', 48.75304791851181, None, 2017),
 (21, 'all', 5455.75399260878, None, 2017),
 (22, 'all', 3782.7845102223214, None, 2017),
 (23, 'all', 230.83545167274897, None, 2017),
 (24, 'all', 4223.02232665945, None, 2017),
 (25, 'all', 1162.88459187279, None, 2017),
 (26, 'all', 2622.38432976221, None, 2017),
 (27, 'all', 3025.8508436905604, None, 2017),
 (28, 'all', 4618.22461733373, None, 2017),
 (29, 'all', 318.789981003373, None, 2017),
 (3, 'all', 1425.68240614676, None, 2017),
 (30, 'all', 71.4513074461231, None, 2017),
 (31, 'all', 1113.90604313287, None, 2017),
 (33, 'all', 2876.5636244936304, None, 2017),
 (34, 'all', 7959.76332231025, None, 2017),
 (10, 'all', 1115.0545185763901, None, 2017),
 (8, 'all', 2841.95201868247, None, 2017),
 (32, 'all', 4306.15113687808, None, 2017),
 (43, 'all', 301.9882500380089, None, 2017),
 (44, 'all', 1823.4324268415, None, 2017),
 (45, 'all', 1085.5046638433698, None, 2017),
 (46, 'all', 180.50033176577, None, 2017),
 (47, 'all', 88.08849590585041, None, 2017),
 (48, 'all', 793.383182067736, None, 2017),
 (49, 'all', 1529.5576414286802, None, 2017),
 (5, 'all', 738.650172598123, None, 2017),
 (50, 'all', 1259.9111260485001, None, 2017),
 (51, 'all', 283.3324374816189, None, 2017),
 (52, 'all', 800.838134807337, None, 2017),
 (53, 'all', 403.51620923072, None, 2017),
 (54, 'all', 420.6016198502391, None, 2017),
 (55, 'all', 108.91201197104, None, 2017),
 (56, 'all', 1124.58774099259, None, 2017),
 (57, 'all', 1065.62549255121, None, 2017),
 (58, 'all', 824.12439442211, None, 2017),
 (59, 'all', 1122.27260554195, None, 2017),
 (6, 'all', 1276.9871469613902, None, 2017),
 (60, 'all', 2541.18002037375, None, 2017),
 (61, 'all', 133.86868946258002, None, 2017),
 (62, 'all', 899.9749116136699, None, 2017),
 (63, 'all', 381.4609213897149, None, 2017),
 (64, 'all', 409.85786696693197, None, 2017),
 (65, 'all', 418.919170898156, None, 2017),
 (66, 'all', 221.89687843924702, None, 2017),
 (67, 'all', 94.8379096889251, None, 2017),
 (68, 'all', 2324.27162816518, None, 2017),
 (69, 'all', 2075.59001626193, None, 2017),
 (7, 'all', 256.031298720425, None, 2017),
 (70, 'all', 439.22820316706594, None, 2017),
 (71, 'all', 301.29866636508, None, 2017),
 (72, 'all', 502.696849390989, None, 2017),
 (73, 'all', 1451.8206113271099, None, 2017),
 (74, 'all', 17.680129032649, None, 2017),
 (75, 'all', 749.185941150517, None, 2017),
 (76, 'all', 1148.65618323944, None, 2017),
 (77, 'all', 979.808146812097, None, 2017),
 (9, 'all', 642.171464446388, None, 2017),
 (35, 'all', 1033.64875699003, None, 2016),
 (36, 'all', 1470.14083218155, None, 2016),
 (37, 'all', 9450.9526962578, None, 2016),
 (38, 'all', 421.507450649909, None, 2016),
 (39, 'all', 872.169142824077, None, 2016),
 (4, 'all', 196.262635588779, None, 2016),
 (40, 'all', 507.98695485738403, None, 2016),
 (41, 'all', 678.32513638655, None, 2016),
 (42, 'all', 242.13490543526402, None, 2016),
 (1, 'all', 15.618917155950198, None, 2016),
 (11, 'all', 1456.5054276146, None, 2016),
 (12, 'all', 1830.5697516034695, None, 2016),
 (13, 'all', 248.44582223081105, None, 2016),
 (14, 'all', 167.92154675408898, None, 2016),
 (15, 'all', 719.950087883449, None, 2016),
 (16, 'all', 4033.4401718142094, None, 2016),
 (17, 'all', 558.021882906742, None, 2016),
 (18, 'all', 230.456715296553, None, 2016),
 (19, 'all', 214.666795450625, None, 2016),
 (2, 'all', 389.583619830461, None, 2016),
 (20, 'all', 48.48290953046121, None, 2016),
 (21, 'all', 5476.33975748596, None, 2016),
 (22, 'all', 3824.47199952261, None, 2016),
 (23, 'all', 227.922966012663, None, 2016),
 (24, 'all', 4226.65914414677, None, 2016),
 (25, 'all', 1160.88848381767, None, 2016),
 (26, 'all', 2611.5114292777803, None, 2016),
 (27, 'all', 3003.08005763338, None, 2016),
 (28, 'all', 4660.472724707821, None, 2016),
 (29, 'all', 330.54374959408796, None, 2016),
 (3, 'all', 1446.7102971593604, None, 2016),
 (30, 'all', 69.9302195595379, None, 2016),
 (31, 'all', 1097.671088808, None, 2016),
 (33, 'all', 2868.569327648689, None, 2016),
 (34, 'all', 8116.198787016421, None, 2016),
 (10, 'all', 1188.4581179694196, None, 2016),
 (8, 'all', 2840.4622951041197, None, 2016),
 (32, 'all', 4351.38090742109, None, 2016),
 (43, 'all', 309.451760792609, None, 2016),
 (44, 'all', 1803.5590437789, None, 2016),
 (45, 'all', 1175.13514576237, None, 2016),
 (46, 'all', 183.34082073062999, None, 2016),
 (47, 'all', 88.51606725327551, None, 2016),
 (48, 'all', 811.204734550105, None, 2016),
 (49, 'all', 1548.6843167015695, None, 2016),
 (5, 'all', 730.812891809332, None, 2016),
 (50, 'all', 1198.20804205444, None, 2016),
 (51, 'all', 287.324514845189, None, 2016),
 (52, 'all', 793.6013688422888, None, 2016),
 (53, 'all', 383.611176840981, None, 2016),
 (54, 'all', 424.8589528284781, None, 2016),
 (55, 'all', 105.371522785616, None, 2016),
 (56, 'all', 1106.72497661581, None, 2016),
 (57, 'all', 1071.88550297829, None, 2016),
 (58, 'all', 847.0853355764709, None, 2016),
 (59, 'all', 1101.37170463109, None, 2016),
 (6, 'all', 1292.0252081028, None, 2016),
 (60, 'all', 2633.48093963464, None, 2016),
 (61, 'all', 131.3118892972, None, 2016),
 (62, 'all', 892.0222213675801, None, 2016),
 (63, 'all', 391.806527153275, None, 2016),
 (64, 'all', 407.14654698468803, None, 2016),
 (65, 'all', 417.99784884298896, None, 2016),
 (66, 'all', 227.433121865434, None, 2016),
 (67, 'all', 93.9093217484114, None, 2016),
 (68, 'all', 2361.31643608837, None, 2016),
 (69, 'all', 2079.9212673636703, None, 2016),
 (7, 'all', 258.304737968918, None, 2016),
 (70, 'all', 442.220148425122, None, 2016),
 (71, 'all', 292.185543574292, None, 2016),
 (72, 'all', 500.215207720701, None, 2016),
 (73, 'all', 1365.19446608428, None, 2016),
 (74, 'all', 17.484097729483, None, 2016),
 (75, 'all', 721.120725464978, None, 2016),
 (76, 'all', 1168.53424449948, None, 2016),
 (77, 'all', 976.951148694857, None, 2016),
 (9, 'all', 634.115421195003, None, 2016)]

In [5]:
import sqlite3

con = sqlite3.connect("./pipeline/database.db")
cur = con.cursor()

rows = cur.execute("""
SELECT *
FROM traffic_intensity
Where period IN (2016, 2017, 2018, 2019, 2020)

""").fetchall()

rows

[(35, 'all', 1409.5759192199896, None, 2020),
 (36, 'all', 2187.42000708787, None, 2020),
 (37, 'all', 12519.203851864098, None, 2020),
 (38, 'all', 619.207858606121, None, 2020),
 (39, 'all', 1493.64931934343, None, 2020),
 (4, 'all', 381.292721818742, None, 2020),
 (40, 'all', 811.282765402462, None, 2020),
 (41, 'all', 888.4804790248842, None, 2020),
 (42, 'all', 411.452469386972, None, 2020),
 (1, 'all', 444.675036896848, None, 2020),
 (11, 'all', 1905.7654520675696, None, 2020),
 (12, 'all', 1927.4555074795496, None, 2020),
 (13, 'all', 473.696753060702, None, 2020),
 (14, 'all', 476.536509929277, None, 2020),
 (15, 'all', 794.261271652258, None, 2020),
 (16, 'all', 4838.59722182382, None, 2020),
 (17, 'all', 554.9821530572441, None, 2020),
 (18, 'all', 252.313765695363, None, 2020),
 (19, 'all', 273.395860080378, None, 2020),
 (2, 'all', 611.37515081414, None, 2020),
 (20, 'all', 159.97931862329202, None, 2020),
 (21, 'all', 6318.37093815389, None, 2020),
 (22, 'all', 4466.25251918772, None, 2020),
 (23, 'all', 287.105143927246, None, 2020),
 (24, 'all', 4905.05093077126, None, 2020),
 (25, 'all', 1297.48321916627, None, 2020),
 (26, 'all', 3430.46957868057, None, 2020),
 (27, 'all', 3312.3450740869507, None, 2020),
 (28, 'all', 5436.02847741801, None, 2020),
 (29, 'all', 480.30414173804803, None, 2020),
 (3, 'all', 1910.6755437420104, None, 2020),
 (30, 'all', 182.846599898898, None, 2020),
 (31, 'all', 1295.70599167447, None, 2020),
 (33, 'all', 3442.230288635071, None, 2020),
 (34, 'all', 10021.2082074557, None, 2020),
 (10, 'all', 1500.05852084215, None, 2020),
 (8, 'all', 3484.89213368664, None, 2020),
 (32, 'all', 5180.953620726071, None, 2020),
 (43, 'all', 382.841511406759, None, 2020),
 (44, 'all', 2211.87752204891, None, 2020),
 (45, 'all', 897.7260717180409, None, 2020),
 (46, 'all', 205.587072468117, None, 2020),
 (47, 'all', 75.18304498080191, None, 2020),
 (48, 'all', 679.212567680845, None, 2020),
 (49, 'all', 1630.2478329654598, None, 2020),
 (5, 'all', 819.683043033164, None, 2020),
 (50, 'all', 1550.74504211102, None, 2020),
 (51, 'all', 429.793272709646, None, 2020),
 (52, 'all', 805.224253186012, None, 2020),
 (53, 'all', 578.5092788921402, None, 2020),
 (54, 'all', 446.31749418264604, None, 2020),
 (55, 'all', 183.25614192985, None, 2020),
 (56, 'all', 1275.35977693405, None, 2020),
 (57, 'all', 1178.52097707778, None, 2020),
 (58, 'all', 1058.90246224301, None, 2020),
 (59, 'all', 1501.47709007692, None, 2020),
 (6, 'all', 1686.30235981866, None, 2020),
 (60, 'all', 2727.56579265197, None, 2020),
 (61, 'all', 346.344059285174, None, 2020),
 (62, 'all', 931.846705535395, None, 2020),
 (63, 'all', 418.903461822268, None, 2020),
 (64, 'all', 502.713692096959, None, 2020),
 (65, 'all', 498.34434948622703, None, 2020),
 (66, 'all', 380.663744843685, None, 2020),
 (67, 'all', 236.64001143692403, None, 2020),
 (68, 'all', 2687.41529283582, None, 2020),
 (69, 'all', 2200.8017370090397, None, 2020),
 (7, 'all', 471.205277586424, None, 2020),
 (70, 'all', 839.018104813504, None, 2020),
 (71, 'all', 508.141244024887, None, 2020),
 (72, 'all', 563.078175932226, None, 2020),
 (73, 'all', 1817.0851651901198, None, 2020),
 (74, 'all', 194.094008557774, None, 2020),
 (75, 'all', 1012.9815169030701, None, 2020),
 (76, 'all', 1373.89301409226, None, 2020),
 (77, 'all', 1456.2721856677, None, 2020),
 (9, 'all', 689.370902548915, None, 2020),
 (35, 'all', 1398.60494079057, None, 2019),
 (36, 'all', 2142.78511398308, None, 2019),
 (37, 'all', 12426.8691625235, None, 2019),
 (38, 'all', 620.588704746431, None, 2019),
 (39, 'all', 1505.5606730369, None, 2019),
 (4, 'all', 379.0705581523809, None, 2019),
 (40, 'all', 822.94069424682, None, 2019),
 (41, 'all', 906.413211833639, None, 2019),
 (42, 'all', 411.436720903471, None, 2019),
 (1, 'all', 432.612003510251, None, 2019),
 (11, 'all', 1917.2474652024805, None, 2019),
 (12, 'all', 1919.74265744983, None, 2019),
 (13, 'all', 463.655017690316, None, 2019),
 (14, 'all', 462.6670081767511, None, 2019),
 (15, 'all', 823.357615610653, None, 2019),
 (16, 'all', 4953.22237401491, None, 2019),
 (17, 'all', 560.554475830499, None, 2019),
 (18, 'all', 228.014016731594, None, 2019),
 (19, 'all', 269.464224817446, None, 2019),
 (2, 'all', 608.424038101868, None, 2019),
 (20, 'all', 160.40433500662, None, 2019),
 (21, 'all', 6409.76274997881, None, 2019),
 (22, 'all', 4490.827803777121, None, 2019),
 (23, 'all', 287.120275328499, None, 2019),
 (24, 'all', 4766.061429601479, None, 2019),
 (25, 'all', 1278.8518457992, None, 2019),
 (26, 'all', 3420.40812429659, None, 2019),
 (27, 'all', 3331.9746237001, None, 2019),
 (28, 'all', 5401.12963058891, None, 2019),
 (29, 'all', 480.329280524239, None, 2019),
 (3, 'all', 1913.85468889212, None, 2019),
 (30, 'all', 182.94848555511, None, 2019),
 (31, 'all', 1322.8071871678, None, 2019),
 (33, 'all', 3410.875214367561, None, 2019),
 (34, 'all', 10134.759564254, None, 2019),
 (10, 'all', 1485.72089971871, None, 2019),
 (8, 'all', 3475.89251630357, None, 2019),
 (32, 'all', 5205.83281703795, None, 2019),
 (43, 'all', 395.28398566786, None, 2019),
 (44, 'all', 2281.65291535121, None, 2019),
 (45, 'all', 875.2006373362808, None, 2019),
 (46, 'all', 204.756508777724, None, 2019),
 (47, 'all', 75.16305522216709, None, 2019),
 (48, 'all', 680.400618720231, None, 2019),
 (49, 'all', 1658.01419175584, None, 2019),
 (5, 'all', 821.464548148252, None, 2019),
 (50, 'all', 1638.76920781564, None, 2019),
 (51, 'all', 426.208117278641, None, 2019),
 (52, 'all', 811.631484879223, None, 2019),
 (53, 'all', 581.90755160501, None, 2019),
 (54, 'all', 455.744611159319, None, 2019),
 (55, 'all', 193.44071924461895, None, 2019),
 (56, 'all', 1273.38842434384, None, 2019),
 (57, 'all', 1180.7538789370599, None, 2019),
 (58, 'all', 1074.16155463766, None, 2019),
 (59, 'all', 1470.38250435576, None, 2019),
 (6, 'all', 1687.6455583293396, None, 2019),
 (60, 'all', 2703.09028816108, None, 2019),
 (61, 'all', 344.052457972975, None, 2019),
 (62, 'all', 938.2427941431239, None, 2019),
 (63, 'all', 416.460056689098, None, 2019),
 (64, 'all', 502.67003175828796, None, 2019),
 (65, 'all', 510.55047208793604, None, 2019),
 (66, 'all', 373.87587072623495, None, 2019),
 (67, 'all', 233.700779443566, None, 2019),
 (68, 'all', 2743.59203845337, None, 2019),
 (69, 'all', 2149.10991276944, None, 2019),
 (7, 'all', 476.7785351527221, None, 2019),
 (70, 'all', 832.220110452066, None, 2019),
 (71, 'all', 507.3548632129071, None, 2019),
 (72, 'all', 577.6234336206211, None, 2019),
 (73, 'all', 1881.81326142974, None, 2019),
 (74, 'all', 185.51855666978, None, 2019),
 (75, 'all', 996.109688469252, None, 2019),
 (76, 'all', 1385.59423802664, None, 2019),
 (77, 'all', 1452.66472618328, None, 2019),
 (9, 'all', 719.3540985703099, None, 2019),
 (35, 'all', 1040.6945507609, None, 2018),
 (36, 'all', 1578.4285690406698, None, 2018),
 (37, 'all', 9826.2708957454, None, 2018),
 (38, 'all', 422.704496559186, None, 2018),
 (39, 'all', 885.167423395908, None, 2018),
 (4, 'all', 198.91559595827, None, 2018),
 (40, 'all', 568.480819626979, None, 2018),
 (41, 'all', 674.618671603352, None, 2018),
 (42, 'all', 271.74780922466203, None, 2018),
 (1, 'all', 15.752648586126304, None, 2018),
 (11, 'all', 1482.84723774627, None, 2018),
 (12, 'all', 1873.14531285702, None, 2018),
 (13, 'all', 263.740877884471, None, 2018),
 (14, 'all', 169.56008996406, None, 2018),
 (15, 'all', 714.9292231314771, None, 2018),
 (16, 'all', 4089.05657836404, None, 2018),
 (17, 'all', 576.930491252176, None, 2018),
 (18, 'all', 224.52469992282502, None, 2018),
 (19, 'all', 214.54727468069402, None, 2018),
 (2, 'all', 388.62784827070396, None, 2018),
 (20, 'all', 47.5737853694528, None, 2018),
 (21, 'all', 5467.33767576024, None, 2018),
 (22, 'all', 3786.74590105948, None, 2018),
 (23, 'all', 232.56923008236402, None, 2018),
 (24, 'all', 4187.61514256341, None, 2018),
 (25, 'all', 1173.36844580866, None, 2018),
 (26, 'all', 2612.67049932, None, 2018),
 (27, 'all', 3009.8429677304803, None, 2018),
 (28, 'all', 4646.61611448414, None, 2018),
 (29, 'all', 326.120863260176, None, 2018),
 (3, 'all', 1430.28293762899, None, 2018),
 (30, 'all', 69.1265331785674, None, 2018),
 (31, 'all', 1084.71583564073, None, 2018),
 (33, 'all', 2871.55263795527, None, 2018),
 (34, 'all', 8005.295692912059, None, 2018),
 (10, 'all', 1146.2365521050301, None, 2018),
 (8, 'all', 2820.4838441119396, None, 2018),
 (32, 'all', 4370.1197220197, None, 2018),
 (43, 'all', 292.984875461227, None, 2018),
 (44, 'all', 1787.30961761731, None, 2018),
 (45, 'all', 1083.9208857476199, None, 2018),
 (46, 'all', 181.082335043905, None, 2018),
 (47, 'all', 89.1527747824609, None, 2018),
 (48, 'all', 814.017253107338, None, 2018),
 (49, 'all', 1543.4781023802802, None, 2018),
 (5, 'all', 733.6707983273959, None, 2018),
 (50, 'all', 1263.35900094596, None, 2018),
 (51, 'all', 294.913586362986, None, 2018),
 (52, 'all', 789.160834359718, None, 2018),
 (53, 'all', 455.87170839901603, None, 2018),
 (54, 'all', 405.123448863779, None, 2018),
 (55, 'all', 111.015332553323, None, 2018),
 (56, 'all', 1090.39366460056, None, 2018),
 (57, 'all', 1059.26471209386, None, 2018),
 (58, 'all', 808.356897440632, None, 2018),
 (59, 'all', 1124.15904066982, None, 2018),
 (6, 'all', 1280.1015919613699, None, 2018),
 (60, 'all', 2581.05598052901, None, 2018),
 (61, 'all', 129.656088905906, None, 2018),
 (62, 'all', 884.820711114698, None, 2018),
 (63, 'all', 378.12854061671, None, 2018),
 (64, 'all', 408.81421393684997, None, 2018),
 (65, 'all', 424.348154069033, None, 2018),
 (66, 'all', 226.4554766073, None, 2018),
 (67, 'all', 95.6339174857172, None, 2018),
 (68, 'all', 2361.0539512972896, None, 2018),
 (69, 'all', 2018.62477501261, None, 2018),
 (7, 'all', 251.166533629859, None, 2018),
 (70, 'all', 437.18946214905196, None, 2018),
 (71, 'all', 297.223068903256, None, 2018),
 (72, 'all', 492.810574932517, None, 2018),
 (73, 'all', 1437.72722817004, None, 2018),
 (74, 'all', 17.5600464044728, None, 2018),
 (75, 'all', 768.797587286071, None, 2018),
 (76, 'all', 1158.99412709406, None, 2018),
 (77, 'all', 971.054758633239, None, 2018),
 (9, 'all', 627.628715112416, None, 2018),
 (35, 'all', 1040.46618006732, None, 2017),
 (36, 'all', 1539.1532070406604, None, 2017),
 (37, 'all', 9600.161766609192, None, 2017),
 (38, 'all', 424.782597173923, None, 2017),
 (39, 'all', 876.779589861105, None, 2017),
 (4, 'all', 198.30605481490602, None, 2017),
 (40, 'all', 562.591137019466, None, 2017),
 (41, 'all', 690.728721943622, None, 2017),
 (42, 'all', 262.29364407819, None, 2017),
 (1, 'all', 15.7117885171004, None, 2017),
 (11, 'all', 1471.21365752395, None, 2017),
 (12, 'all', 1837.72475979824, None, 2017),
 (13, 'all', 249.791549517116, None, 2017),
 (14, 'all', 154.481389071998, None, 2017),
 (15, 'all', 684.166568562507, None, 2017),
 (16, 'all', 4181.1059445206, None, 2017),
 (17, 'all', 569.034922050833, None, 2017),
 (18, 'all', 229.776952387839, None, 2017),
 (19, 'all', 210.688648059356, None, 2017),
 (2, 'all', 393.43159275106797, None, 2017),
 (20, 'all', 48.75304791851181, None, 2017),
 (21, 'all', 5455.75399260878, None, 2017),
 (22, 'all', 3782.7845102223214, None, 2017),
 (23, 'all', 230.83545167274897, None, 2017),
 (24, 'all', 4223.02232665945, None, 2017),
 (25, 'all', 1162.88459187279, None, 2017),
 (26, 'all', 2622.38432976221, None, 2017),
 (27, 'all', 3025.8508436905604, None, 2017),
 (28, 'all', 4618.22461733373, None, 2017),
 (29, 'all', 318.789981003373, None, 2017),
 (3, 'all', 1425.68240614676, None, 2017),
 (30, 'all', 71.4513074461231, None, 2017),
 (31, 'all', 1113.90604313287, None, 2017),
 (33, 'all', 2876.5636244936304, None, 2017),
 (34, 'all', 7959.76332231025, None, 2017),
 (10, 'all', 1115.0545185763901, None, 2017),
 (8, 'all', 2841.95201868247, None, 2017),
 (32, 'all', 4306.15113687808, None, 2017),
 (43, 'all', 301.9882500380089, None, 2017),
 (44, 'all', 1823.4324268415, None, 2017),
 (45, 'all', 1085.5046638433698, None, 2017),
 (46, 'all', 180.50033176577, None, 2017),
 (47, 'all', 88.08849590585041, None, 2017),
 (48, 'all', 793.383182067736, None, 2017),
 (49, 'all', 1529.5576414286802, None, 2017),
 (5, 'all', 738.650172598123, None, 2017),
 (50, 'all', 1259.9111260485001, None, 2017),
 (51, 'all', 283.3324374816189, None, 2017),
 (52, 'all', 800.838134807337, None, 2017),
 (53, 'all', 403.51620923072, None, 2017),
 (54, 'all', 420.6016198502391, None, 2017),
 (55, 'all', 108.91201197104, None, 2017),
 (56, 'all', 1124.58774099259, None, 2017),
 (57, 'all', 1065.62549255121, None, 2017),
 (58, 'all', 824.12439442211, None, 2017),
 (59, 'all', 1122.27260554195, None, 2017),
 (6, 'all', 1276.9871469613902, None, 2017),
 (60, 'all', 2541.18002037375, None, 2017),
 (61, 'all', 133.86868946258002, None, 2017),
 (62, 'all', 899.9749116136699, None, 2017),
 (63, 'all', 381.4609213897149, None, 2017),
 (64, 'all', 409.85786696693197, None, 2017),
 (65, 'all', 418.919170898156, None, 2017),
 (66, 'all', 221.89687843924702, None, 2017),
 (67, 'all', 94.8379096889251, None, 2017),
 (68, 'all', 2324.27162816518, None, 2017),
 (69, 'all', 2075.59001626193, None, 2017),
 (7, 'all', 256.031298720425, None, 2017),
 (70, 'all', 439.22820316706594, None, 2017),
 (71, 'all', 301.29866636508, None, 2017),
 (72, 'all', 502.696849390989, None, 2017),
 (73, 'all', 1451.8206113271099, None, 2017),
 (74, 'all', 17.680129032649, None, 2017),
 (75, 'all', 749.185941150517, None, 2017),
 (76, 'all', 1148.65618323944, None, 2017),
 (77, 'all', 979.808146812097, None, 2017),
 (9, 'all', 642.171464446388, None, 2017),
 (35, 'all', 1033.64875699003, None, 2016),
 (36, 'all', 1470.14083218155, None, 2016),
 (37, 'all', 9450.9526962578, None, 2016),
 (38, 'all', 421.507450649909, None, 2016),
 (39, 'all', 872.169142824077, None, 2016),
 (4, 'all', 196.262635588779, None, 2016),
 (40, 'all', 507.98695485738403, None, 2016),
 (41, 'all', 678.32513638655, None, 2016),
 (42, 'all', 242.13490543526402, None, 2016),
 (1, 'all', 15.618917155950198, None, 2016),
 (11, 'all', 1456.5054276146, None, 2016),
 (12, 'all', 1830.5697516034695, None, 2016),
 (13, 'all', 248.44582223081105, None, 2016),
 (14, 'all', 167.92154675408898, None, 2016),
 (15, 'all', 719.950087883449, None, 2016),
 (16, 'all', 4033.4401718142094, None, 2016),
 (17, 'all', 558.021882906742, None, 2016),
 (18, 'all', 230.456715296553, None, 2016),
 (19, 'all', 214.666795450625, None, 2016),
 (2, 'all', 389.583619830461, None, 2016),
 (20, 'all', 48.48290953046121, None, 2016),
 (21, 'all', 5476.33975748596, None, 2016),
 (22, 'all', 3824.47199952261, None, 2016),
 (23, 'all', 227.922966012663, None, 2016),
 (24, 'all', 4226.65914414677, None, 2016),
 (25, 'all', 1160.88848381767, None, 2016),
 (26, 'all', 2611.5114292777803, None, 2016),
 (27, 'all', 3003.08005763338, None, 2016),
 (28, 'all', 4660.472724707821, None, 2016),
 (29, 'all', 330.54374959408796, None, 2016),
 (3, 'all', 1446.7102971593604, None, 2016),
 (30, 'all', 69.9302195595379, None, 2016),
 (31, 'all', 1097.671088808, None, 2016),
 (33, 'all', 2868.569327648689, None, 2016),
 (34, 'all', 8116.198787016421, None, 2016),
 (10, 'all', 1188.4581179694196, None, 2016),
 (8, 'all', 2840.4622951041197, None, 2016),
 (32, 'all', 4351.38090742109, None, 2016),
 (43, 'all', 309.451760792609, None, 2016),
 (44, 'all', 1803.5590437789, None, 2016),
 (45, 'all', 1175.13514576237, None, 2016),
 (46, 'all', 183.34082073062999, None, 2016),
 (47, 'all', 88.51606725327551, None, 2016),
 (48, 'all', 811.204734550105, None, 2016),
 (49, 'all', 1548.6843167015695, None, 2016),
 (5, 'all', 730.812891809332, None, 2016),
 (50, 'all', 1198.20804205444, None, 2016),
 (51, 'all', 287.324514845189, None, 2016),
 (52, 'all', 793.6013688422888, None, 2016),
 (53, 'all', 383.611176840981, None, 2016),
 (54, 'all', 424.8589528284781, None, 2016),
 (55, 'all', 105.371522785616, None, 2016),
 (56, 'all', 1106.72497661581, None, 2016),
 (57, 'all', 1071.88550297829, None, 2016),
 (58, 'all', 847.0853355764709, None, 2016),
 (59, 'all', 1101.37170463109, None, 2016),
 (6, 'all', 1292.0252081028, None, 2016),
 (60, 'all', 2633.48093963464, None, 2016),
 (61, 'all', 131.3118892972, None, 2016),
 (62, 'all', 892.0222213675801, None, 2016),
 (63, 'all', 391.806527153275, None, 2016),
 (64, 'all', 407.14654698468803, None, 2016),
 (65, 'all', 417.99784884298896, None, 2016),
 (66, 'all', 227.433121865434, None, 2016),
 (67, 'all', 93.9093217484114, None, 2016),
 (68, 'all', 2361.31643608837, None, 2016),
 (69, 'all', 2079.9212673636703, None, 2016),
 (7, 'all', 258.304737968918, None, 2016),
 (70, 'all', 442.220148425122, None, 2016),
 (71, 'all', 292.185543574292, None, 2016),
 (72, 'all', 500.215207720701, None, 2016),
 (73, 'all', 1365.19446608428, None, 2016),
 (74, 'all', 17.484097729483, None, 2016),
 (75, 'all', 721.120725464978, None, 2016),
 (76, 'all', 1168.53424449948, None, 2016),
 (77, 'all', 976.951148694857, None, 2016),
 (9, 'all', 634.115421195003, None, 2016)]

In [6]:
import pandas as pd
from api.utils.database import rows_to_dicts

pd.DataFrame(rows_to_dicts(cur, rows))

     area_number segment         value std_error  period
0             35     all   1409.575919      None    2020
1             36     all   2187.420007      None    2020
2             37     all  12519.203852      None    2020
3             38     all    619.207859      None    2020
4             39     all   1493.649319      None    2020
..           ...     ...           ...       ...     ...
380           74     all     17.484098      None    2016
381           75     all    721.120725      None    2016
382           76     all   1168.534244      None    2016
383           77     all    976.951149      None    2016
384            9     all    634.115421      None    2016

[385 rows x 5 columns]

In [6]:
import requests

r = requests.post("http://18.191.174.84:5000/community/metrics", json={"metrics": ["traffic_intensity_2016"]})
pd.DataFrame(r.json())

                                              metrics
0   {'area_number': 1, 'name': 'Rogers Park', 'par...
1   {'area_number': 2, 'name': 'West Ridge', 'part...
2   {'area_number': 3, 'name': 'Uptown', 'part': '...
3   {'area_number': 4, 'name': 'Lincoln Square', '...
4   {'area_number': 5, 'name': 'North Center', 'pa...
..                                                ...
72  {'area_number': 73, 'name': 'Washington Height...
73  {'area_number': 74, 'name': 'Mount Greenwood',...
74  {'area_number': 75, 'name': 'Morgan Park', 'pa...
75  {'area_number': 76, 'name': 'O'Hare', 'part': ...
76  {'area_number': 77, 'name': 'Edgewater', 'part...

[77 rows x 1 columns]

Jupyter also supports notebook extensions. This extension allows us to declare a cell as a SQL cell with `%%sql` on the first line of the cell, write queries directly in the cell body, and then view the result as a table.

In [5]:
%%capture
%load_ext sql
%sql sqlite:///pipeline/database.db

In [6]:
%%sql
SELECT *
FROM rideshare
LIMIT 5

 * sqlite:///pipeline/database.db
Done.

[('2018-11-04', 1, 1, 2223, 701, 260, 627),
 ('2018-11-04', 52, 28, 20, 14, 8, 2567),
 ('2018-11-04', 52, 24, 3, 2, 1, 3228),
 ('2018-11-04', 52, 22, 1, 0, 0, 6800),
 ('2018-11-04', 52, 20, 1, 1, 1, 2260)]

## Querying a Socrata Data Portal

Socrata SQL (SoQL) is a special dialect of SQL that we can use to access datasets from the City of Chicago data portal, as well as other data portals hosted on Socrata.

Below is an example code cell, which uses the `request` module to send a query and get the response as well as Pandas to display the result.

It can take a while to get a response, because you are sending a request to a remote server that will run your SoQL query against the entire dataset. That is why we write scripts in our offline pipeline to aggregate and download data before applying transformations locally.

In [7]:
import pandas as pd
import requests

dataset_json_url = "https://data.cityofchicago.org/resource/m6dm-c72p.json"
query = """
SELECT
    pickup_community_area,
    trip_seconds / 60 as trip_minutes
LIMIT 5
"""
r = requests.get(dataset_json_url, params={"$query": query})
pd.DataFrame(r.json())

  pickup_community_area         trip_minutes
0                    72   4.6500000000000000
1                     7   3.4833333333333333
2                     8  10.8000000000000000
3                    28  15.3166666666666667
4                     8   9.9000000000000000