In [1]:
import os
os.chdir("../../")

In [2]:
os.getcwd()

'/home/ec2-user/environment/transithealth'

In [3]:

import pandas as pd
import requests
from pipeline.utils.data import extract_data_portal_dates

In [4]:
dataset_json_url = "https://data.cityofchicago.org/resource/5neh-572f.json"
query = """
SELECT
    station_id,
    stationname,
    date,
    daytype,
    rides
WHERE
    date >= "2019-01-01" AND date <= "2020-12-31"
LIMIT 105000
"""
r = requests.get(dataset_json_url, params={"$query": query})
df = pd.DataFrame(r.json())
df

,station_id,stationname,date,daytype,rides
0,40010,Austin-Forest Park,2019-01-01T00:00:00.000,U,576
1,40020,Harlem-Lake,2019-01-01T00:00:00.000,U,981
2,40030,Pulaski-Lake,2019-01-01T00:00:00.000,U,835
3,40040,Quincy/Wells,2019-01-01T00:00:00.000,U,929
4,40050,Davis,2019-01-01T00:00:00.000,U,1207
...,...,...,...,...,...
104559,41660,Lake/State,2020-12-31T00:00:00.000,W,2563
104560,41670,Conservatory,2020-12-31T00:00:00.000,W,425
104561,41680,Oakton-Skokie,2020-12-31T00:00:00.000,W,142
104562,41690,Cermak-McCormick Place,2020-12-31T00:00:00.000,W,312
104563,41700,Washington/Wabash,2020-12-31T00:00:00.000,W,1767

In [5]:
print(type(df["date"][0]))

<class 'str'>

In [ ]:
#def transformDate(old_date):

In [ ]:
#df['ymd'] = transformDate(df['date'])

In [6]:
df = extract_data_portal_dates(df, col="date", prefix="")

In [7]:
df[1:50]

,station_id,stationname,date,daytype,rides,dt,week_num,week
1,40020,Harlem-Lake,2019-01-01,U,981,2019-01-01,2019-01,2019-01-06
2,40030,Pulaski-Lake,2019-01-01,U,835,2019-01-01,2019-01,2019-01-06
3,40040,Quincy/Wells,2019-01-01,U,929,2019-01-01,2019-01,2019-01-06
4,40050,Davis,2019-01-01,U,1207,2019-01-01,2019-01,2019-01-06
5,40060,Belmont-O'Hare,2019-01-01,U,1608,2019-01-01,2019-01,2019-01-06
6,40070,Jackson/Dearborn,2019-01-01,U,1495,2019-01-01,2019-01,2019-01-06
7,40080,Sheridan,2019-01-01,U,1839,2019-01-01,2019-01,2019-01-06
8,40090,Damen-Brown,2019-01-01,U,643,2019-01-01,2019-01,2019-01-06
9,40100,Morse,2019-01-01,U,2021,2019-01-01,2019-01,2019-01-06
10,40120,35th/Archer,2019-01-01,U,754,2019-01-01,2019-01,2019-01-06
11,40130,51st,2019-01-01,U,414,2019-01-01,2019-01,2019-01-06
12,40140,Dempster-Skokie,2019-01-01,U,378,2019-01-01,2019-01,2019-01-06
13,40150,Pulaski-Cermak,2019-01-01,U,527,2019-01-01,2019-01,2019-01-06
14,40160,LaSalle/Van Buren,2019-01-01,U,239,2019-01-01,2019-01,2019-01-06
15,40170,Ashland-Lake,2019-01-01,U,485,2019-01-01,2019-01,2019-01-06
16,40180,Oak Park-Forest Park,2019-01-01,U,356,2019-01-01,2019-01,2019-01-06
17,40190,Sox-35th-Dan Ryan,2019-01-01,U,1671,2019-01-01,2019-01,2019-01-06
18,40200,Randolph/Wabash,2019-01-01,U,0,2019-01-01,2019-01,2019-01-06
19,40210,Damen-Cermak,2019-01-01,U,394,2019-01-01,2019-01,2019-01-06
20,40220,Western-Forest Park,2019-01-01,U,618,2019-01-01,2019-01,2019-01-06
21,40230,Cumberland,2019-01-01,U,1038,2019-01-01,2019-01,2019-01-06
22,40240,79th,2019-01-01,U,3342,2019-01-01,2019-01,2019-01-06
23,40250,Kedzie-Homan-Forest Park,2019-01-01,U,978,2019-01-01,2019-01,2019-01-06
24,40260,State/Lake,2019-01-01,U,3359,2019-01-01,2019-01,2019-01-06
25,40270,Main,2019-01-01,U,350,2019-01-01,2019-01,2019-01-06
26,40280,Central-Lake,2019-01-01,U,706,2019-01-01,2019-01,2019-01-06
27,40290,Ashland/63rd,2019-01-01,U,370,2019-01-01,2019-01,2019-01-06
28,40300,Indiana,2019-01-01,U,274,2019-01-01,2019-01,2019-01-06
29,40310,Western-Orange,2019-01-01,U,962,2019-01-01,2019-01,2019-01-06
30,40320,Division/Milwaukee,2019-01-01,U,2282,2019-01-01,2019-01,2019-01-06
31,40330,Grand/State,2019-01-01,U,8547,2019-01-01,2019-01,2019-01-06
32,40340,Berwyn,2019-01-01,U,1335,2019-01-01,2019-01,2019-01-06
33,40350,UIC-Halsted,2019-01-01,U,981,2019-01-01,2019-01,2019-01-06
34,40360,Southport,2019-01-01,U,1115,2019-01-01,2019-01,2019-01-06
35,40370,Washington/Dearborn,2019-01-01,U,3436,2019-01-01,2019-01,2019-01-06
36,40380,Clark/Lake,2019-01-01,U,3709,2019-01-01,2019-01,2019-01-06
37,40390,Forest Park,2019-01-01,U,889,2019-01-01,2019-01,2019-01-06
38,40400,Noyes,2019-01-01,U,157,2019-01-01,2019-01,2019-01-06
39,40420,Cicero-Cermak,2019-01-01,U,518,2019-01-01,2019-01,2019-01-06
40,40430,Clinton-Forest Park,2019-01-01,U,780,2019-01-01,2019-01,2019-01-06
41,40440,California-Cermak,2019-01-01,U,425,2019-01-01,2019-01,2019-01-06
42,40450,95th/Dan Ryan,2019-01-01,U,4008,2019-01-01,2019-01,2019-01-06
43,40460,Merchandise Mart,2019-01-01,U,955,2019-01-01,2019-01,2019-01-06
44,40470,Racine,2019-01-01,U,601,2019-01-01,2019-01,2019-01-06
45,40480,Cicero-Lake,2019-01-01,U,639,2019-01-01,2019-01,2019-01-06
46,40490,Grand/Milwaukee,2019-01-01,U,1341,2019-01-01,2019-01,2019-01-06
47,40510,Garfield-South Elevated,2019-01-01,U,235,2019-01-01,2019-01,2019-01-06
48,40520,Foster,2019-01-01,U,165,2019-01-01,2019-01,2019-01-06
49,40530,Diversey,2019-01-01,U,1352,2019-01-01,2019-01,2019-01-06

In [9]:
dataset_json_url = "https://data.cityofchicago.org/resource/5neh-572f.json"
query = """
SELECT
    station_id,
    stationname,
    date,
    daytype,
    rides
WHERE
    date >= "2001-01-01" AND date <= "2021-02-28" AND
    stationname IN ('Howard', 'Wilson', 'Belmont', 'Fullerton', 'Merchandise Mart', 'Ashland', 'Roosevelt', 'Clinton', 'Clark/Lake', 'State/Lake', 'Lake', 'Washington', 'Washington/Wabash', 'Adams/Wabash', 'Jackson', 'Harold Washington Library', 'LaSalle/Van Buren', 'Quincy', 'Washington/Wells')
LIMIT 105000
"""
r = requests.get(dataset_json_url, params={"$query": query})
df = pd.DataFrame(r.json())
df

      station_id        stationname                     date daytype  rides
0          40540             Wilson  2017-12-22T00:00:00.000       W   4861
1          40260         State/Lake  2017-12-06T00:00:00.000       W  12646
2          40380         Clark/Lake  2017-12-20T00:00:00.000       W  20358
3          40730   Washington/Wells  2017-12-16T00:00:00.000       A   1256
4          41220          Fullerton  2017-12-28T00:00:00.000       W   4600
...          ...                ...                      ...     ...    ...
74988      41700  Washington/Wabash  2021-02-24T00:00:00.000       W   2449
74989      41700  Washington/Wabash  2021-02-25T00:00:00.000       W   2549
74990      41700  Washington/Wabash  2021-02-26T00:00:00.000       W   2658
74991      41700  Washington/Wabash  2021-02-27T00:00:00.000       A   1920
74992      41700  Washington/Wabash  2021-02-28T00:00:00.000       U   1203

[74993 rows x 5 columns]